.main {
    margin-top: 5rem;

    .form-container {
        width: 60%;
        margin: 0 auto;
    }

    .user-container {
        width: 90%;
        max-width: 1200px;
        min-width: 350px;
        margin: 0 auto;
    }
}