$blue-100: #12adc1;
$blue-200: #0295a9;
$yellow: #fdd037;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::selection {
  background-color: $yellow;
}

body {
  background-color: $blue-200;
}
